body{
    background-color: #ccc;
}
.container{
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
}
.anime{
    text-align: center;
}
#start_button{
    background-color: aqua;
    color: white;
    width: 100px;
    height: 50px;
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
    cursor: pointer;
}
#start_button:hover{
    background-color: blue;
}
.typewriter{
    margin-bottom: 20px;
    margin-top: 10px;
}

.typewriter .one {
    font-family: monospace;
    letter-spacing: .17em;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    
    animation: typing 3.5s steps(30, end), blinking-cursor .5s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
    to {
      width: 100%
    }
  }
  
  .typewriter .two {
    font-family: monospace;
    letter-spacing: .17em;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    
    animation: typing 5.5s steps(30, start), blinking-cursor .5s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
    to {
      width: 100%
    }
  }
  
  .typewriter .three {
    font-family: monospace;
    letter-spacing: .17em;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    
    animation: typing 12.5s steps(30, start), blinking-cursor .5s step-end forwards;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
    to {
      width: 100%
    }
  }
  .hidden{
    display: none;
  }
  

.selections{
    display: flex;
    justify-content: center;
}
.selection{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
}
.selection:hover{
    transform:scale(1.2);
}
.results{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-weight: bold;
    margin-top: 1rem;
}
.result-score{
    margin-left: .1rem;
    font-size: .6rem;
    color: #333;
}
.result-selection{
    opacity: 0.5;
}
.result-selection.winner{
    opacity: 1;
    font-size: 1.5rem;
}